*
!build/*-runner
!build/*-runner.jar
!build/lib/*
!build/quarkus-app/*


# Permitir todo lo necesario para el build
!Proyect/

# Excluir solo lo innecesario
.git/
.github/
*.md
!README.md
.idea/
.vscode/
*.iml
*.log
.DS_Store
Thumbs.db